@font-face
{
    font-family: openSansLight;
    src: url("../fonts/open-sans.light.ttf");
}

@font-face
{
    font-family: openSansLight;
    src: url("../fonts/open-sans.regular.ttf");
    font-weight: bold;
}

.lightGray
{
    background-color: rgb(222, 222, 222);
}

.gray
{
    background-color: rgb(204, 204, 204);
}

.darkGray
{
    background-color: rgb(153, 153, 153);
}

.red
{
    background-color: rgb(199, 32, 40);
}

.blue
{
    background-color: rgb(12, 128, 205);
}

.roundedBorder
{
    border-radius: 3px;
}

.titleBox
{
    height: 45px;
    margin: 10px 10px 10px 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
}

*
{
    margin: 0px;
    padding: 0px;
    font-family: openSansLight;
    border: none;
    cursor: default;
    -webkit-user-select: none;
/*    border: solid blue 2px;*/
}

body
{
    width: 100%;
    height: 100%;
}

#content
{
    position: absolute;
    width: 100%;
    height: 100%;
}

#header
{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 65px;
    width: 100%;
    z-index: 9999;
}

#title
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 250px;
}

#fileTitle
{
    position: absolute;
    top: 0px;
    left: 300px;
    width: 200px;
}

#openFile
{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 225px;
}

#getFile
{
    display: none;
}

#tableContainer
{
    position: absolute;
    top: 85px;
    left: 0px;
    right: 0px;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

.table
{
    border-collapse: collapse
}

.tableRow
{
    text-align: center;
}

.tableCell
{
    padding-left: 3px;
    padding-right: 3px;
    height: 30px;
}


.tableCellHeader
{
    font-weight: bold;
}